body {
    background-color: rgb(211, 211, 211);
}
h1{
    text-align: center;
    padding: 1rem;
}
footer{
    text-align: center;
    background-color: rgb(32, 32, 32);
    height: 150px;
    padding: 4rem;
    margin-top: 90%;
}
a{
    text-decoration: underline;
    color: black;
}

h2{
    padding: 1rem;
}