<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body>

		<h1><a href='./home'>GameLibSF</a></h1>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">


				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav">
						<a class="nav-link active" aria-current="page" href="./home">Home</a>
						<a class="nav-link" href="{{url('app_login')}}">Login</a>
						<a class="nav-link" href="./inscription">Inscription</a>
						<a class="nav-link" href="./logout">Déconexion</a>
					</div>
				</div>
			</div>
		</nav>
		{% block body %}{% endblock %}

		<footer class="mt-auto text-black-500">
			<p>Cover template for
				<a href="https://getbootstrap.com/" class="text-white">GameLibSF</a>, by
				<a href="https://twitter.com/moi" class="text-white">@moi</a>.</p>
		</footer>

	</body>
</html>
